<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" data-auto-a11y="true"></script>
</head>
<body class="bg-gray-300 flex flex-col h-screen justify-between">
   <%- include('../common/header.ejs') %>
    <section class="pb-12">
         <div class="w-11/12 md:w-3/4 lg:w-2/3 mx-auto text-center imagenSerie bg-white my-6 py-6">
            <div class="">
               <div id="series_poster" class="mx-auto p-4 max-w-md">
               
               </div>
            </div>
            <div class="">
               <div id="series_title">
                  
               </div>
               <div id="series_rating">
               
               </div>
               <div id="series_genre">
               
               </div>
               <div id="series_overview">
               
               </div>
            </div>
         </div>
         
         <%- include('../reviews/reviews.ejs') %>
         
         <div class="w-9/12 md:w-2/4 lg:w-1/3 mx-auto rounded shadow-xl my-12 p-6 text-center bg-white">
            <% if (review.length == 0) { %>
            <div class="pb-2 font-bold">
               This show has no reviews. Have you seen it?
            </div>
            <% } else { %>
            <div class="pb-2 font-bold">
               What are your thoughts on this show?
            </div>
            <% } %>
            <div class="pt-4">
               <form action="/reviews/new" method="post">
                  <input type="number" class="hidden" value="<%= params.id %>" name="series_id">
               
                  </input>
                  <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white text-md font-bold py-2 px-4 mx-1 rounded">
                     Add a review
                  </button>
               </form>
            </div>
         </div>
    </section>
    <%- include('../common/footer.ejs') %>
</body>
<style>
   .fa-star path {
      stroke: black;
      stroke-width: 50;
   }

   .modal {
      transition: opacity 0.25s ease;
   }
   body.modal-active {
      overflow-x: hidden;
      overflow-y: visible !important;
   }
</style>
<script>
   window.onload = function () {
      var series_id = window.location.pathname.replace( /^\D+/g, '');
      var poster = "https://image.tmdb.org/t/p/original/";
      var key = "e59c94a503ea78e9502aa8e308f21eb5";

      var series = "https://api.themoviedb.org/3/tv/" + series_id + "?api_key=" + key + "&language=en-US&page=1";

      fetch(series, {
            method: "GET",
      })
      .then(function (response) {
            return response.json();
      })
      .then(function (data) {
            var title = document.querySelector("#series_title");
            title.innerHTML = '<h1 class="text-2xl font-bold">' + data.name + '</h1>';

            var rating = document.querySelector("#series_rating");
            score = Math.round(data.vote_average / 2);
            if (score != 0 ) {
               for (i = 0; i < score; i++) {
                  rating.innerHTML+= '<i class="fas fa-star mt-1" style="color: #fffb00;"></i>'; 
               }
            } else {
               rating.innerHTML+= '<p class="mt-1">unknown rating</p>'
            }

            var poster = document.querySelector("#series_poster");
            if (data.poster_path != null) {
               poster.innerHTML = '<img class="mx-auto" src="https://image.tmdb.org/t/p/original/' + data.backdrop_path + '"/>';
            } else {
               poster.innerHTML = ''
            }

            var genre = document.querySelector("#series_genre");
            genre.innerHTML = '<h3 class="text-md py-3"> Category: ' + data.genres[0].name + '</h3>';

            var overview = document.querySelector("#series_overview");
            overview.innerHTML = '<p class="text-sm px-4 sm:px-8 md:px-12 text-justify">' + data.overview + '</p>';
      })
      .catch(function (error) {
            console.log("El error es: " + error);
      });
   }
</script>
</html>